<a href="/">Homepage</a>
<div>
    <h1>Friend Search</h1>
    <div>
        <form action="/friendsearch" method="post">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </div>

            <button type="submit">Search</button>
        </form>
    </div>
    <div id="match-list">
        <% users.forEach(function(row) { %>
            <div style="display: flex; flex-direction: row;">
                <form method="POST" action="/addfriend">
                    <input type="hidden" name="fid" value="<%= row.uid %>">
                    <a href="/profile/<%=row.uid%>"><%= row.fname + " " + row.lname %></a>
                    <button type="submit">Add Friend</button>
                </form>
            </div>
        <% }); %>
    </div>
</div>