<!DOCTYPE html>
<html>

<head>
    <title>CSE412 Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <button>
        Button
    </button>
</body>

</html>