<!DOCTYPE html>
<html>

<head>
    <title>CSE412 Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Homepage</h1>
    <div id="topbar" style="display: flex; flex-direction: row; align-items: center; column-gap: 20px;">
        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>

        <h4>Logged in as <%= name%>!</h4>

        <a href="/friendsearch">Search for Friend</a>

        <a href="/profile/<%= uid %>">Profile</a>

        <a href="/albums/<%= uid %>">Albums</a>

        <a href="/account">Account</a>
    </div>

    <div id="photo-browse">
        <div style="display: flex; flex-direction: column; padding: 5px;">
            <a href="/">User</a>
            <a href="/">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F26%2F93%2FJaGns9.jpg&f=1&nofb=1&ipt=f97a78db5ca9a949b8dd05457e56093e02fbf0ffdec9390da0cbbf6a0d94ea89&ipo=images"  width="200" height="200">
            </a>
        </div>
    </div>


</body>

</html>