<!DOCTYPE html>
<html>

<head>
    <title>CSE412 Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="topbar" style="display: flex; flex-direction: row; align-items: center;">
        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>

        <h4>Logged in as <%= name%>!</h4>

        <a href="/friendsearch">Add Friend</a>
    </div>

    
</body>

</html>