<!DOCTYPE html>
<html>

<head>
    <title>CSE412 Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Homepage</h1>
    <div id="topbar" style="display: flex; flex-direction: row; align-items: center; column-gap: 20px;">
        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>

        <h4>Logged in as <%= name%>!</h4>

        <a href="/friendsearch">Search for Friend</a>

        <a href="/profile/<%= uid %>">Profile</a>

        <a href="/account">Account</a>
    </div>

    <div>
        
    </div>

    
</body>

</html>