<!DOCTYPE html>
<html>

<head>
    <title>CSE412 Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/logout" method="get">
        <button type="submit">Log Out</button>
    </form>
    <h1>Logged in as <%= name%>!</h1>
</body>

</html>